<h1>Editing Inherited File Generation Test</h1>

<%= render 'form', inherited_file_generation_test: @inherited_file_generation_test %>

<%= link_to 'Show', @inherited_file_generation_test %> |
<%= link_to 'Back', inherited_file_generation_tests_path %>
