<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @inherited_file_generation_test.uuid %>
</p>

<%= link_to 'Edit', edit_inherited_file_generation_test_path(@inherited_file_generation_test) %> |
<%= link_to 'Back', inherited_file_generation_tests_path %>
