<h1>Editing Controller Skeleton Test</h1>

<%= render 'form', controller_skeleton_test: @controller_skeleton_test %>

<%= link_to 'Show', @controller_skeleton_test %> |
<%= link_to 'Back', controller_skeleton_tests_path %>
